body{
	font-family: 'Questrial', sans-serif;
}

header{
	text-align: center;
}

h1 {
	color: rgb(2, 132, 130);
	text-align: center;
}

h2 {
	color: #ffad00;
	text-align: center;

}

p{
	text-align: center;
}

nav{
	background-color: #808080;
}

nav a{
	background-color: #ffbf00;
	font-size: 1.5em;
	text-decoration: none;
	color: white;
	padding: 35px;
	display: inline-block;
	float: left;
}

a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.board {
	display: block;
	height: 50%;
	width: 50%;
	margin: 0 auto;
}

.card {
	height: 200px;
	width: 150px;
	background: url(../card_back.png);
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	margin: 8%;
}

.pop {
	color: #ffbf00;
}

footer {
	background-color: #808080;
	text-align: center;
	clear: both;
	padding: 20px;
}